### Import Modules

In [1]:
import pandas as pd
import numpy as np

### Load The Dataset

In [2]:
df = pd.read_csv('data/Dataset Twitter Fix - Indonesian Sentiment Twitter Dataset Labeled.csv')

### EDA (Exploratory Data Analysis)
- Menggunakan Dataset yang belum dibersihkan

In [3]:
df.info() #informasi dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12647 entries, 0 to 12646
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sentimen  12646 non-null  float64
 1   Tweet     12647 non-null  object
dtypes: float64(1), object(1)
memory usage: 197.7+ KB

In [4]:
df.head() #melihat 5 data teratas

   sentimen                                              Tweet
0       0.0  barusan liat tulisan di belakang truk rela inj...
1       0.0  her itu lho miss kevin sama keven rebutan gimb...
2       0.0    iya rep gatau aku masih kelas 4 sd ehh di block
3       0.0  aku mohon tepatilah janjimu penantian cinta eps19
4       0.0  bukan beria nk kahwin sbb gatal celah kangkang...

In [5]:
df.describe() #Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

           sentimen
count  12646.000000
mean       1.003875
std        1.055173
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        6.000000

In [6]:
df.shape #meihat dimensi data

(12647, 2)

In [7]:
df.isnull().sum() #melihat data bernilai null atau kosong

sentimen    1
Tweet       0
dtype: int64

In [8]:
df.duplicated().sum() #melihat record duplicated

564

In [10]:
df.value_counts() #melihat record unik

sentimen  Tweet
2.0       kalau tak bersungguh nak jaga aku boleh je berhenti berpura2 aku boleh jaga diri aku tanpa memaksa kau kau tak perl                                                                                                                              12
          hati aku kecewa aku sedih aku aku sorang je tahu orang lain tak tahu                                                                                                                                                                              9
0.0       ni nak femes je sebenarnya                                                                                                                                                                                                                        7
          amin ustazah saya pening kepala me takpelah awak tulis je apa yang awak laratampai masa aku suruh hantar buku tara                                                                                                                                6
          adik aku yang darjah 5 tetiba masuk bilik pastu bagi pantun bread is rotihadow is bayangebelum akak mati better                                                                                                                                   6
                                                                                                                                                                                                                                                           ..
          saya sebagai cikgu music nak bgtau sikit la faedah dia first sekali ia merupakan instrument yang paling mudah untuk tah                                                                                                                           1
          saya selalu menyempatkan sore saya untuk menatap langit berlama lama disana melihat langit membuat saya merasa lebih                                                                                                                              1
          saya sokong kamu dua cringe namateybb dah slalu tgok the x factor evenimon cowell m                                                                                                                                                               1
          saya sudah daftar pilihan lokasinya banyak kita pilih sendiri                                                                                                                                                                                     1
6.0       ~improvisasi itu lagu..al Qur'an itu tafsir..masak susah mikir gituan..murotal itu improv..Tilawatil Qur'an itu improv..raut mukamu itu tafsir..cara kentutmu itu tafsir..cara ngentot aja tafsir..cara kawin itu tafsir...ngaji yg bener.!!"     1
Length: 12082, dtype: int64